.task__container {
    padding-top: 30px;
}
.quest-task__container{
    display: inline-block;
    width: 33%;
    height: 22vh;
    padding: 10px;
}
.quest-task__button{
    border-radius: 5px;
    background-color: white;
}
.quest-task__button:hover .quest-task__typography{
    background-color: #dedede;
}
.quest-task__button:hover {
    background-color: #dedede;
}
.quest-task__typography {
    display: block;
    width: 100%;
    height: 100%;
}
