.task__container {
    padding-top: 30px;
}
.quest-task__container {
    display: inline-flex;
    width: 33%;
    height: 22vh;
    padding-right: 10px;
}
.quest-task__container__hint {
    display: inline-flex;
    padding-top: 40px;
    width: 33%;
    height: 22vh;
    padding-right: 10px;
}
.quest-task__typography__hint {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quest-task__typography__container {
    padding-top: 10px;
    padding-left: 10px;
}
.quest-task__button {
    border-radius: 5px;

    min-height: 150px;
    width: 100%;

    cursor: pointer;
    display: inline-block;
    border: none;
    text-align: center;

    transition: background 250ms ease-in-out;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.quest-task__button:active {
    transform: scale(0.99);
}
.quest-task__typography {
    display: block;
    width: 100%;
    height: 100%;
}
.quest-answer-input__container {
    display: inline-flex;
    width: 100%;
    padding-right: 10px;
    height: auto;
}
.quest-task__answer-column {
    padding-right: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.quest-task_text-hints {
    padding-top: 30px;
    padding-bottom: 30px;
}