.header__padding-zero {
    padding: 10px 0 !important;
    margin-top: 10px !important;
}
.header__divider {
    opacity: 0.5;
    margin-top: 0;
}
.header {
    display: inline;
}
.header__icon {
    float: right;
}
.ant-page-header-heading > .ant-page-header-heading-extra {
    float: right;
    width: auto !important;
    display: inline !important;
}
