.flexbox-errorpage-column {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;
}

.flexbox-errorpage-row {
    display:flex;
    flex-direction: row;
    margin-top: 70px;
    flex-wrap: wrap;
}

.flexbox-item {
    margin:auto;
}

.error-code {
    font-size: 128px;
    font-weight: bold;
    color: #7658E0;
}

.error-description {
    font-size: 32px;
    color: #333333;
}

.image {
    width: 256px;
    height: 256px;
    margin: auto;
}