.error-text {
    position: absolute;
    z-index: 20;

    display: flex;
    align-items: center;
    text-align: center;

    font-weight: 800;
    width: 1170px;
    margin-top: 150px;
}

.error-code {
    width: 100%;
    position: absolute;
    font-size: 250px;
    color: rgba(255, 88, 255, 0.4);
}

.error-description {
    width: 100%;
    position: absolute;
    font-size: 32px;
    color: #000000;
}

.error-background {
    z-index: 0;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

.image {
    width: 256px;
    height: 256px;
}

.image-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}