.auth-form-container {
    max-width: 300px;
    position: relative;
}
.auth-alert-container {
    padding-bottom: 25px;
}
.auth-form-forgot {
    float: right;
}
.auth-form-button {
    width: 100%;
}
