.footer {
    padding-top: 40px;
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    min-width: 1100px;
    margin-top: 100px;
    background-position: center;
}
.main-text {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
.mini-text {
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
.link {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}
.link > a {
    border-bottom: 1px solid #40A9FF;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 100px;
        margin-top: 100px;
        position: relative;
        width: auto;
        text-align: center;
        padding-bottom: 40px;
        min-width: 1150px;
    }
}

@media (max-width: 500px) {
    .footer {
        display: none;
    }
}

