.about {
    font-size: 21px;
}

@media screen and (max-width: 600px) {
    .about {
        font-size: 19px;
    }
    team-heading
    .status-layout {
        font-size: 17px;
    }

    .quest-descript {
        word-wrap: break-word;
        text-align: left;
        white-space: pre-wrap;
    }

    .quest__results__container {
        max-width: 100%;
        overflow-x: scroll;
    }
}