.button-layout{
    zoom: 0.89;
    margin-top:7px;
}

.status-layout{
    position: relative;
    zoom: 0.89;
}

.description{
    white-space: nowrap !important;
}


.right-box{
    position: relative;
}

.vertical-line {
    display: inline-block;
    border-right: 0.5px solid #858585;
    height: 75px;
    width: 100%;
}

.timeline-layout{
}

.row-style{
    margin-top: 15px;
}

.col-style{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .quest-stages {

    }
}