.captain-icon {
    color: #91d5ff;
    display: inline-block;
}

.link {
    display: inline-block;
    color: #1890ff
}

.logout-button {
    margin-left: auto
}

.team-heading {
    display: flex
}

@media (max-width: 550px) {
    .team-heading {
        display: block !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .team-list__container{
        display: block !important;
    }
}

.teammate-col {
    padding: 5px 0
}